@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.body-gen{
  width: 100%;
  height: 100%;


}

.header{
  background-color: rgb(0, 0, 122);
  padding: 1%;
  display: grid;
  grid-template-columns: 10% 35% 20% 30%; /* Tamaños específicos para cada columna */
  grid-gap: 1;

  justify-items: center;
  align-items: center;
}

.logotec{
  height: 70%;
  width: 100%;
}

.title{
  color: white;
  font-size: 3vw; 
  font-family: 'Montserrat', sans-serif;
}

.button-baños{
  width: 70%;
  background-color: navy;
  font-size: 2vw; 
  font-family: 'Montserrat', sans-serif; 
  color: white; 
  padding: 10px 20px; 
} 

.button-baños:hover{
  background-color: rgba(255, 255, 255, 0.575);
}

.button-estacionamiento{
  width: 100%;
  background-color: navy;
  font-size: 2vw; 
  font-family: 'Montserrat', sans-serif; 
  color: white; 
  padding: 10px 20px; 
}

.button-estacionamiento:hover{
  background-color: rgba(255, 255, 255, 0.575);
}


/* BODY */
.body-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BAÑOS ---------------------------------------------------------------- */
.baños-container{
  margin-top: 1%;
  width: 90%;
  height: auto;
  background-color: aliceblue;
  border-radius: 1.5vw;
  box-shadow: 0px 0px 1vw black;
}

.content-titles-baños{
  text-align: center;
  margin: 0%;
  padding-bottom: 1%;

  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.24);
}

.cont-instructions{
  display: grid;
  grid-template-columns: 1fr;
}

.instructions{
  font-family: 'Montserrat', sans-serif; 
  width: 15%;
  height: 100%;
  text-align: center;
  justify-self: center;
}

.instructions:hover{
  background-color: rgba(10, 53, 168, 0.575);
}

.instructions:active{
  background-color: rgba(0, 0, 0, 0.575);
}

.cont-instructions-elements{
  display: grid;
  grid-template-columns: 1fr;

}

.instruction{
  margin-left: 20%;
  justify-self: left;
}

.maps{
  margin-top: 1%;
  display: flex;
  justify-content: center;
}